body {
  margin: 0;
  overflow: hidden;
  background: #ccc;
}



.toolbar {
  width: 120px;
  height: 80px;
  background: #ccc;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 120px);
}

input[type="color"], button {
  width: 90%;
  margin: 0 auto;
  display: block;
}

input[type="range"] {
  width: 70%;
}

span {
 position: relative;
 bottom: 5px;
}

.box1 {
  grid-column-start: 1;
}

.box2 {
  grid-column-start: 3;
}

.box3 {
  grid-column-start: 2;
  grid-row-start: 1;
}
